@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  --primary-color: #537561;
  --secondary-color: #879e8f;
  --text-color: #e4e3d9;
  --border-radius: 6px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: radial-gradient(var(--secondary-color) 1.8px, transparent 1.8px), radial-gradient(var(--secondary-color) 1.8px, var(--primary-color) 1.8px);
  background-size: 72px 72px;
  background-position: 0 0, 36px 36px;
  font-family: 'Indie Flower', cursive;
}

h1 {
  color: var(--text-color);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
  text-align: center;
}

h1:hover {
  background-color: rgba(255, 255, 255, 0.4);

}

/* Bookmarks */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}

.item:hover {
  background: rgba(255, 255, 255, 0.3);
}

a {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.fa-times-circle {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin-right: 20px;
  margin-top: 20px;
}

.name img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: sub;
}

/* Modal Styling */
.modal-container {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close-icon {
  float: right;
  color: var(--text-color);
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.modal-header {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 15px;
}

h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
  background: #e7e6d5;
}

/* Form Styling */
.form-group {
  height: 55px;
  display: flex;
  flex-direction: column;
}

.form-input {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  height: 25px;
  outline: none;
  display: block;
  padding-left: 10px;
}

.form-label {
  color: var(--primary-color);
  display: block;
}

button {
  cursor: pointer;
  color: var(--text-color);
  background: var(--primary-color);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 10px;
}

button:hover {
  filter: brightness(120%);
}

button:focus {
  outline: none;
}

/* Media Query for Large Smartphone */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}